.wrapperTable {
  border: 1px solid var(--border-subtle);
  & > td {
    border-right: 1px solid var(--border-subtle);
  }
}

.tableBtn {
  &:hover {
    background-color: var(--accent-red);
    color: var(--accent-red-fg);
  }
}
