.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
  overflow: auto;
}

.sizeGuideImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.textWrapper {
  padding: 16px;
  border-radius: 8px;
}

.modal {
  :global(.mantine-Modal-root) {
    background-color: #e0ddca;
  }

  :global(.mantine-Modal-body) {
    background-color: #e0ddca;
  }
  :global(.mantine-Modal-header) {
   background-color: #e0ddca;
  }
}
