.paymentFailedPage {
  min-height: 100vh;
  background-image: url('/assets/img/bg/page.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px 0;
}


.wrapper{
background-color: var(--background);
}
.bth{
  min-width: 310px;
}